<div class="viewTable">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Incoming Purchase Details</h4>
              <div class="searchAdd">
                <form class="form-inline mr-auto">
                  <div class="search-element">
                    <!--Search-->
                    <input class="form-control" [(ngModel)]="filter" type="search" name="searchProduct" id="searchProduct" placeholder="Search by product name" data-width="200">                 
                    <span>&nbsp;&nbsp;</span>
                    <!--Add purchase-->
                    <a href="add.php" class="btn btn-bg" href="javascript:void(0)" (click)="addPurchase()">
                      <i class="fas fa-plus-square"></i>&nbsp; Add
                    </a>
                  </div>
                </form>
              </div> 
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="table-1">
                  <thead>
                  <tr>                
                    <th>Purchase Id</th>
                    <th>Product Name</th>
                    <th>Purchase Date</th>
                    <th>Recived Quantity</th>
                    <th>Price</th>
                    <th>Supplier F.Name</th>
                    <th>Supplier L.Name</th>
                  </tr>
                  </thead>
                  <tbody>
                 <tr *ngFor="let purchase of allPurchase |filter:filter| paginate: { itemsPerPage: 5, currentPage: p}">
                    <td>{{purchase.Purchase_id}}</td>
                    <td>{{purchase.Purchase_pro_id}}</td>
                    <td>{{purchase.Purchase_date | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{purchase.Purchase_no}}</td>
                    <td>{{purchase.Purchase_price | currency: 'LKR': 'code'}}</td>
                    <td>{{purchase.Purchase_sup_fname}}</td>
                    <td>{{purchase.Purchase_sup_lname}}</td>
                  </tr>          
                  </tbody>                   
                </table>
                <div>
                  <ul class="pagination">  
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
