<div class="addForm">
    <div class="card">
        <div class="card-header">
          <h4>
              Add Product
          </h4>      
        </div>    
        <div class="card-body">
            <form [formGroup]="addProduct" (ngSubmit)="onFormSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputDefault">Product Id</label>
                        <input type="text" class="form-control" formControlName="product_id" name="product_id" id="product_id" required  ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_id'].invalid && addProduct.controls['product_id'].touched">
                            Please Enter Product Id
                        </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDefault">Product Name</label>
                        <input type="text" class="form-control" formControlName="product_name" name="product_name" id="product_name" required  ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_name'].invalid && addProduct.controls['product_name'].touched">
                            Please Enter Product Name
                        </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDefault">Product Type</label>
                        <input type="text" class="form-control" formControlName="product_type" name="product_type" id="product_type" required  ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_type'].invalid && addProduct.controls['product_type'].touched">
                            Please Enter Product Type
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputDefault">Brand Name</label>
                        <input type="text" class="form-control" formControlName="product_brand" name="product_brand" id="product_brand" required  ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_brand'].invalid && addProduct.controls['product_brand'].touched">
                            Please Enter Brand Name
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDefault">Lable</label>
                        <input type="text" class="form-control" formControlName="product_lable" name="product_lable" id="product_lable" required ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_lable'].invalid && addProduct.controls['product_lable'].touched">
                            Please Enter Lable
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputDefault">Starting Inventory</label>
                        <input type="number" class="form-control" formControlName="product_start_inv" name="product_start_inv" id="product_start_inv" required  ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_start_inv'].invalid && addProduct.controls['product_start_inv'].touched">
                            Please Enter Starting Inventory
                        </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDefault">In Inventory</label>
                        <input type="number" class="form-control" formControlName="product_in_inv" name="product_in_inv" id="product_in_inv" required  ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_in_inv'].invalid && addProduct.controls['product_in_inv'].touched">
                            Please Enter In Inventory
                        </span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputDefault">Minimum Required</label>
                        <input type="number" class="form-control" formControlName="product_min_req" name="product_min_req" id="product_min_req" required  ngModel>
                        <span class="error" *ngIf="addProduct.controls['product_min_req'].invalid && addProduct.controls['product_min_req'].touched">
                            Please Enter Minimum Required
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Unit Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-color">
                                Rs
                                </div>
                            </div>
                            <input type="text" class="form-control currency" formControlName="product_unit_pr" name="product_unit_pr" id="product_unit_pr" required ngModel>
                        </div>
                        <span class="error" *ngIf="addProduct.controls['product_unit_pr'].invalid && addProduct.controls['product_unit_pr'].touched">
                            Please Enter Unit Price
                        </span> 
                    </div>
                    <div class="form-group col-md-6">
                        <label>Selling Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-color">
                                Rs
                                </div>
                            </div>
                            <input type="text" class="form-control currency" formControlName="product_sell_pr" name="product_sell_pr" id="product_sell_pr" required ngModel>
                        </div>
                        <span class="error" *ngIf="addProduct.controls['product_sell_pr'].invalid && addProduct.controls['product_sell_pr'].touched">
                            Please Enter Selling Price
                        </span> 
                    </div>                    
                </div>
                <div class="form-group">
                    <button class="btn btn-bg"><i class="fas fa-plus-square"></i>&nbsp; Add Product</button>
                </div>
            </form>
        </div>   
      </div>
</div>