.viewTable{
    margin-left: 50px;
    margin-right: 50px;
}

.searchAdd{
    margin-left: 741px;
}

.btn-bg{
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: #f80759;
    color: whitesmoke;
}

.btn-edit{
    /*background: #2193b0;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*border: #f80759;*/
    color: rgb(248, 178, 48);
}

.btn-delete{
    /*background: #F00000;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to bottom, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to bottom, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*border: #F00000;;*/
    color: #F00000;
}