<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="card card-primary login">
            <div class="card-header">
              <p class="head">Rest Password</p>
            </div>
            <div class="card-body">
              <!--Form Start-->
              <form method="POST" action="#" class="needs-validation" novalidate="">
                <div class="form-group">
                  <label for="email" class="text">Email</label>
                  <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                  <div class="invalid-feedback">
                    Please fill in your email
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-block">
                    <label for="password" class="control-label text">Current Password</label>
                  </div>
                  <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                  <div class="invalid-feedback">
                    please fill in your password
                  </div>
                </div>
                <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label text">New Password</label>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                </div>
                <div class="form-group">
                  <button type="submit"  href="javascript:void(0)" (click)="login()" class="btn btn-login btn-lg btn-block" tabindex="4">
                    Login
                  </button>
                </div>
              </form>
              <!--Form End-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>