<div class="viewTable">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Outgoing Order Details</h4>
              <div class="searchAdd">
                <form class="form-inline mr-auto">
                  <div class="search-element">
                    <!--Search-->
                    <input class="form-control" type="search"  [(ngModel)]="filter" name="searchProduct" id="searchProduct" placeholder="Search by product name" data-width="200">                 
                    <span>&nbsp;&nbsp;</span>
                    <!--Add Order-->
                    <a href="add.php" class="btn btn-bg" href="javascript:void(0)" (click)="addOrder()">
                      <i class="fas fa-plus-square"></i>&nbsp; Add
                    </a>
                  </div>
                </form>
              </div> 
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="table-1">
                  <thead>
                  <tr>                
                    <th>Order Id</th>
                    <th>Product Name</th>
                    <th>Invoice No</th>
                    <th>Order Date</th>
                    <th>Total Price</th>
                    <th>Brand Name</th>
                    <th>Shipped Quantity</th>
                    <th>Customer F.Name</th>
                    <th>Customer L.Name</th>
                  </tr>
                  </thead>
                  <tbody>                     
                 <tr *ngFor="let order of allOrder |filter:filter| paginate: { itemsPerPage: 5, currentPage: p}">
                    <td>{{order.order_id}}</td>
                    <td>{{order.order_pro_id}}</td>
                    <td>{{order.order_invoice}}</td>
                    <td>{{order.order_date | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{order.order_tprice | currency: 'LKR': 'code'}}</td>
                    <td>{{order.order_brand}}</td>
                    <td>{{order.order_no_shipped}}</td>
                    <td>{{order.order_cust_fname}}</td>
                    <td>{{order.order_cust_lname}}</td>
                  </tr>        
                  </tbody>                
                </table>
                <div>
                  <ul class="pagination">  
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>  
                  </ul> 
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
