<div class="row section">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="javascript:void(0)" (click)="addProducts()">
        <div class="card card-bg product">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <a href="javascript:void(0)" (click)="addProducts()"><h5 class="font-15">Products</h5></a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="assets/img/banner/product.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="javascript:void(0)" (click)="addPurchases()">
        <div class="card card-bg">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <a href="javascript:void(0)" (click)="addPurchases()"><h5 class="font-15">Incoming Purchases</h5></a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="assets/img/banner/incoming.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>      
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="javascript:void(0)" (click)="addOutgoingOrder()">
        <div class="card card-bg">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <a href="javascript:void(0)" (click)="addOutgoingOrder()"><h5 class="font-15">Out Going Orders</h5></a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="assets/img/banner/order.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>      
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="javascript:void(0)" (click)="viewReports()">
        <div class="card card-bg">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <a href="javascript:void(0)" (click)="viewReports()"><h5 class="font-15">View Reports</h5></a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="assets/img/banner/report.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>      
    </div>
  </div>