input.ng-invalid{
    border-right: 5px solid red;
}
input.ng-valid{
    border-right: 5px solid green;
}

.error{
    color: red;
}

.addForm{
    margin-left: 50px;
    margin-right: 50px;
}

.form-control{
    border-color: #f80759;
}

h4{
    color: #f80759;
}

.bg-color{
    background-color: #f80759;
    border-color: #f80759;
    color: white;
}

.btn-bg{
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: #f80759;
    color: whitesmoke;
}